*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#caixa_normal{
    width: 400px;
    background: #BF1F1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: white;
}
#caixa_com_box_model_01{
    width: 300px;
    padding: 20px;
    border: 2px solid #F5F5DC;
    margin: 5px;
    background: #BF1F1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #4B0082;
}
#caixa_com_box_model_02{
    width: 345px;
    padding: 20px;
    border: 7px dotted rgb(139, 0, 139);
    margin: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: rgb(25, 25, 112);
    text-align: right;
}